# Practica para Sistemas de Bases de Datos (Feb 21)

## Autor: Martín Romera Sobrado
## Contacto: mromera95@alumno.uned.es

### Inicialización de la base de datos

Creamos e iniciamos la base de datos si todavía no lo está.

In [1]:
! hadoop fs -mkdir librosdb

In [2]:
! hadoop fs -mkdir librosdb/authors/ && hadoop fs -mkdir librosdb/dataset

In [3]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f db/db.hql

scan complete in 21ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
que no estee2://localhost:10000/default> -- Crea la base de datos en el caso de   creada.
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> create database if not exists librosdb
de libros'. . . . . . . . . . . . . . .> Comment 'Base de datos con información
. . . . . . . . . . . . . . . . . . . .> Location '/home/cloudera/librosdb'
n Romera Sob. . . . . . . . . . . . . .> With dbproperties('Creada por' = 'Martí rado', 'Creada el' = '9-Nov-2020');
INFO  : Compiling command(queryId=hive_20201123093232_637f1ac4-052c-41a0-a13d-4ec7d71cebf1): create database if not exists librosdb
Comment 'Base de datos con información de libros'
Location '/home/cloudera/librosdb'
With dbproperties('Creada por' = 'Martín Romera Sobrado', 'Creada el' = '9-Nov-2020')
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20201123093232_637f1ac4-052c-41a0-a13d-4ec7d71cebf1); Time taken: 0.66 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20201123093232_637f1ac4-052c-41a0-a13d-4ec7d71cebf1): create database if not exists librosdb
Comment 'Base de datos con información de libros'
Location '/home/cloudera/librosdb'
With dbproperties('Creada por' = 'Martín Romera Sobrado', 'Creada el' = '9-Nov-2020')
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20201123093232_637f1ac4-052c-41a0-a13d-4ec7d71cebf1); Time taken: 1.43 seconds
INFO  : OK
No rows affected (2.38 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

Los contenidos de *db/db.hql* son los siguientes:

```HiveQL
-- Crea la base de datos en el caso de que no este creada.

create database if not exists librosdb
Comment 'Base de datos con información de libros'
Location '/home/cloudera/librosdb'
With dbproperties('Creada por' = 'Martín Romera Sobrado', 'Creada el' = '9-Nov-2020');

```

### Ejercicios

Ej 1. *Crea las tablas necesarias para almacenar los datos. Pueden ser internas o externas en función de los datos que se desee. La decisión de interna o externa debe estar razonada.*

Las tablas serán externas, ya que en el ejercicio 5 tendremos un programa *MapReduce* en python que acceda a los datos.

In [4]:
! beeline -u "jdbc:hive2://localhost:10000/" -f db/ej1.hql

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/> -- Creamos las dos tablas: authors y datasets
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> USE librosdb;
INFO  : Compiling command(queryId=hive_20201123093232_b8cf63ad-e509-4107-aeae-83444ccd3384): USE librosdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20201123093232_b8cf63ad-e509-4107-aeae-83444ccd3384); Time taken: 0.065 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20201123093232_b8cf63ad-e509-4107-aeae-83444ccd3384): USE librosdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20201123093232_b8cf63ad-e509-4107-aeae-83444ccd3384); Time taken: 0.011 seconds
INFO  : OK
No rows affected (0.128 seconds)
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> -- Tabla authors
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> CREATE EXTERNAL TABLE IF NOT EXISTS authors
. . . . . . . . . . . . . . . . > (
. . . . . . . . . . . . . . . . >     author_id INT,
. . . . . . . . . . . . . . . . >     author_name STRING
. . . . . . . . . . . . . . . . > )
. . . . . . . . . . . . . . . . > COMMENT 'Tabla de autores'
. . . . . . . . . . . . . . . . > ROW FORMAT DELIMITED
. . . . . . . . . . . . . . . . > FIELDS TERMINATED BY '\;'
. . . . . . . . . . . . . . . . > tblproperties("skip.header.line.count"="1");
INFO  : Compiling command(queryId=hive_20201123093232_f179379c-5cfa-48cb-bbb1-262107f0aa56): CREATE EXTERNAL TABLE IF NOT EXISTS authors
(
author_id INT,
author_name STRING
)
COMMENT 'Tabla de autores'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ';'
tblproperties("skip.header.line.count"="1")
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20201123093232_f179379c-5cfa-48cb-bbb1-262107f0aa56); Time taken: 0.173 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20201123093232_f179379c-5cfa-48cb-bbb1-262107f0aa56): CREATE EXTERNAL TABLE IF NOT EXISTS authors
(
author_id INT,
author_name STRING
)
COMMENT 'Tabla de autores'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ';'
tblproperties("skip.header.line.count"="1")
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20201123093232_f179379c-5cfa-48cb-bbb1-262107f0aa56); Time taken: 0.262 seconds
INFO  : OK
No rows affected (0.449 seconds)
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> -- Tabla datasets
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> CREATE EXTERNAL TABLE IF NOT EXISTS datasets
. . . . . . . . . . . . . . . . > (
. . . . . . . . . . . . . . . . >     title STRING,
. . . . . . . . . . . . . . . . >     author_id INT,
. . . . . . . . . . . . . . . . >     bestsellers_rank INT,
. . . . . . . . . . . . . . . . >     imprint BINARY,
. . . . . . . . . . . . . . . . >     publication_date STRING,
. . . . . . . . . . . . . . . . >     rating_avg DOUBLE,
. . . . . . . . . . . . . . . . >     rating_count INT
. . . . . . . . . . . . . . . . > )
. . . . . . . . . . . . . . . . > COMMENT 'Tabla de libros'
. . . . . . . . . . . . . . . . > ROW FORMAT DELIMITED
. . . . . . . . . . . . . . . . > FIELDS TERMINATED BY '\;'
. . . . . . . . . . . . . . . . > tblproperties("skip.header.line.count"="1");
INFO  : Compiling command(queryId=hive_20201123093232_52300499-d71f-4db8-92d3-b64f09da2aa0): CREATE EXTERNAL TABLE IF NOT EXISTS datasets
(
title STRING,
author_id INT,
bestsellers_rank INT,
imprint BINARY,
publication_date STRING,
rating_avg DOUBLE,
rating_count INT
)
COMMENT 'Tabla de libros'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ';'
tblproperties("skip.header.line.count"="1")
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20201123093232_52300499-d71f-4db8-92d3-b64f09da2aa0); Time taken: 0.042 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20201123093232_52300499-d71f-4db8-92d3-b64f09da2aa0): CREATE EXTERNAL TABLE IF NOT EXISTS datasets
(
title STRING,
author_id INT,
bestsellers_rank INT,
imprint BINARY,
publication_date STRING,
rating_avg DOUBLE,
rating_count INT
)
COMMENT 'Tabla de libros'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ';'
tblproperties("skip.header.line.count"="1")
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20201123093232_52300499-d71f-4db8-92d3-b64f09da2aa0); Time taken: 0.07 seconds
INFO  : OK
No rows affected (0.121 seconds)
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/>
Closing: 0: jdbc:hive2://localhost:10000/

Los contenidos de *db/ej1.hql* son los siquientes:
```HiveQL
-- Creamos las dos tablas: authors y datasets

USE librosdb;

-- Tabla authors

CREATE EXTERNAL TABLE IF NOT EXISTS authors
(
    author_id INT,
    author_name STRING
)
COMMENT 'Tabla de autores';

-- Tabla datasets

CREATE EXTERNAL TABLE IF NOT EXISTS datasets
(
    title STRING,
    author_id INT,
    bestsellers_rank INT,
    imprint BINARY,
    publication_date TIMESTAMP,
    rating_avg STRING,
    rating_count INT
)
COMMENT 'Tabla de libros'
```

Ej 2. *Importa los datos en las tablas creadas*

In [5]:
! hadoop fs -put db/csv/authors.csv librosdb/authors

In [6]:
! hadoop fs -put db/csv/dataset.csv librosdb/dataset

In [7]:
! beeline -u "jdbc:hive2://localhost:10000/" -f db/ej2.hql

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
tosjdbc:hive2://localhost:10000/> -- Importamos datos de los csv a la base de da
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> USE librosdb;
INFO  : Compiling command(queryId=hive_20201123093232_88c3990e-c06e-4481-a80a-8fa9051217a3): USE librosdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20201123093232_88c3990e-c06e-4481-a80a-8fa9051217a3); Time taken: 0.065 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20201123093232_88c3990e-c06e-4481-a80a-8fa9051217a3): USE librosdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20201123093232_88c3990e-c06e-4481-a80a-8fa9051217a3); Time taken: 0.012 seconds
INFO  : OK
No rows affected (0.124 seconds)
0: jdbc:hive2://localhost:10000/>
ors/authors.csv' INTO TABLE authors;AD DATA INPATH '/user/cloudera/librosdb/auth
INFO  : Compiling command(queryId=hive_20201123093232_0585f98a-ed7e-4148-b6d7-be65f69abe2f): LOAD DATA INPATH '/user/cloudera/librosdb/authors/authors.csv' INTO TABLE authors
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20201123093232_0585f98a-ed7e-4148-b6d7-be65f69abe2f); Time taken: 0.062 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20201123093232_0585f98a-ed7e-4148-b6d7-be65f69abe2f): LOAD DATA INPATH '/user/cloudera/librosdb/authors/authors.csv' INTO TABLE authors
INFO  : Starting task [Stage-0:MOVE] in serial mode
INFO  : Loading data to table librosdb.authors from hdfs://quickstart.cloudera:8020/user/cloudera/librosdb/authors/authors.csv
INFO  : Starting task [Stage-1:STATS] in serial mode
INFO  : Table librosdb.authors stats: [numFiles=1, totalSize=464036]
INFO  : Completed executing command(queryId=hive_20201123093232_0585f98a-ed7e-4148-b6d7-be65f69abe2f); Time taken: 0.52 seconds
INFO  : OK
No rows affected (0.596 seconds)
0: jdbc:hive2://localhost:10000/>
set/dataset.csv' INTO TABLE dataset;AD DATA INPATH '/user/cloudera/librosdb/data
Error: Error while compiling statement: FAILED: SemanticException [Error 10001]: Line 1:74 Table not found 'dataset' (state=42S02,code=10001)

Closing: 0: jdbc:hive2://localhost:10000/

Los contenidos de el archivo *db/ej2.hql*, son los siguientes:

```HiveQL
-- Importamos datos de los csv a la base de datos

USE librosdb;

LOAD DATA INPATH '/user/cloudera/librosdb/authors.csv' INTO TABLE authors;

LOAD DATA INPATH '/user/cloudera/librosdb/dataset.csv' INTO TABLE datasets;
```

Los dos ficheros csv, son los que proporcionan para la práctica, sin se alterados en ningún momento.

Ej 3. *Crea una vista sobre las tablas creadas. Esta vista tendrá para cada título, el nombre del autor, fecha de publicación, y valoración media.*

In [8]:
! beeline -u "jdbc:hive2://localhost:10000/" -f db/ej3.hql

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
los siguientes atributos::10000/> -- Crea una vista para las tablas creadas con
ión y Valoración mediaost:10000/> -- Titulo, Nombre del autor, Fecha de publicac
0: jdbc:hive2://localhost:10000/> USE librosdb;
INFO  : Compiling command(queryId=hive_20201123093232_608d8175-2f7f-478b-b544-35e45d4ca5f1): USE librosdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20201123093232_608d8175-2f7f-478b-b544-35e45d4ca5f1); Time taken: 0.062 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20201123093232_608d8175-2f7f-478b-b544-35e45d4ca5f1): USE librosdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20201123093232_608d8175-2f7f-478b-b544-35e45d4ca5f1); Time taken: 0.01 seconds
INFO  : OK
No rows affected (0.118 seconds)
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> CREATE VIEW IF NOT EXISTS vista_libros
. . . . . . . . . . . . . . . . > (
. . . . . . . . . . . . . . . . >     title COMMENT 'Titulo del libro',
. . . . . . . . . . . . . . . . >     author_name COMMENT 'Autor del libro',
ció . . . . . . . . . . . . . . >     publication_date COMMENT 'Fecha de publica n',
ibro' . . . . . . . . . . . . . >     rating_avg COMMENT 'Valoración media del l
. . . . . . . . . . . . . . . . > )
, rating_avg. . . . . . . . . . > AS SELECT title, author_name, publication_date
. . . . . . . . . . . . . . . . > FROM authors, dataset
. . . . . . . . . . . . . . . . > WHERE authors.author_id = dataset.author_id;
Error: Error while compiling statement: FAILED: SemanticException [Error 10001]: Line 9:14 Table not found 'dataset' (state=42S02,code=10001)

Closing: 0: jdbc:hive2://localhost:10000/

Los contenidos de *db/ej3.hql* son los siguientes:
```HiveQL
-- Crea una vista para las tablas creadas con los siguientes atributos:
-- Titulo, Nombre del autor, Fecha de publicación y Valoración media
USE librosdb;

CREATE VIEW IF NOT EXISTS vista_libros 
(
    title COMMENT 'Titulo del libro',
    author_name COMMENT 'Autor del libro',
    publication_date COMMENT 'Fecha de publicación',
    rating_avg COMMENT 'Valoración media del libro'
)
AS SELECT title, author_name, publication_date, rating_avg
FROM authors, datasets
WHERE authors.author_id = datasets.author_id;
```

Ej 4. *Crea las consultas de hive para responder las siguientes cuestiones:*

- *¿Cuál es el título del libro que ocupa el primer lugar en el ranking de bestsellers?*

In [9]:
! beeline -u "jdbc:hive2://localhost:10000/" -f db/ej4_a.hql

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
de bestsellers//localhost:10000/> -- Selecciona el libro más alto en el ranking
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> USE librosdb;
INFO  : Compiling command(queryId=hive_20201123093232_8e1beb58-8b28-491b-b8a9-760e2a7014b8): USE librosdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20201123093232_8e1beb58-8b28-491b-b8a9-760e2a7014b8); Time taken: 0.054 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20201123093232_8e1beb58-8b28-491b-b8a9-760e2a7014b8): USE librosdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20201123093232_8e1beb58-8b28-491b-b8a9-760e2a7014b8); Time taken: 0.008 seconds
INFO  : OK
No rows affected (0.111 seconds)
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> SELECT title
. . . . . . . . . . . . . . . . > FROM dataset LEFT SEMI JOIN (
. . . . . . . . . . . . . . . . >     SELECT min(bestsellers_rank) AS bestseller
. . . . . . . . . . . . . . . . >     FROM dataset
. . . . . . . . . . . . . . . . > ) AS a
. . . . . . . . . . . . . . . . > ON bestsellers_rank = a.bestseller
. . . . . . . . . . . . . . . . > LIMIT 1;
Error: Error while compiling statement: FAILED: SemanticException [Error 10001]: Line 2:5 Table not found 'dataset' (state=42S02,code=10001)

Closing: 0: jdbc:hive2://localhost:10000/

El código de *db/ej4_a.hql* es el siguiente:
```HiveQL
-- Selecciona el libro más alto en el ranking de bestsellers

USE librosdb;

SELECT title
FROM datasets LEFT SEMI JOIN (
    SELECT max(bestsellers_rank) AS bestseller
    FROM datasets
) AS a 
ON bestsellers_rank = a.bestseller;
```

- *¿Cuál es el título del libro con mejor valoración media de la autora Ana Maria Spagna?*

In [10]:
! beeline -u "jdbc:hive2://localhost:10000/" -f db/ej4_b.hql

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
 Ana Maria Spagnaocalhost:10000/> -- Selecciona el libro con mejor valoración de
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> USE librosdb;
INFO  : Compiling command(queryId=hive_20201123093333_1ad312a5-5a01-4a0a-ad4f-b402849a93b7): USE librosdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20201123093333_1ad312a5-5a01-4a0a-ad4f-b402849a93b7); Time taken: 0.05 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20201123093333_1ad312a5-5a01-4a0a-ad4f-b402849a93b7): USE librosdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20201123093333_1ad312a5-5a01-4a0a-ad4f-b402849a93b7); Time taken: 0.008 seconds
INFO  : OK
No rows affected (0.109 seconds)
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> SELECT title
. . . . . . . . . . . . . . . . > FROM(
. . . . . . . . . . . . . . . . >     SELECT title, rating_avg
. . . . . . . . . . . . . . . . >     FROM dataset LEFT SEMI JOIN (
. . . . . . . . . . . . . . . . >         SELECT max(rating_avg) AS max_rating
. . . . . . . . . . . . . . . . >         FROM authors, dataset
or_id AND authors.author_name = "Ana Maria Spagna"thors.author_id = dataset.auth
. . . . . . . . . . . . . . . . >     ) AS b
. . . . . . . . . . . . . . . . >     ON rating_avg = b.max_rating
. . . . . . . . . . . . . . . . > ) AS a
. . . . . . . . . . . . . . . . > LIMIT 1;
Error: Error while compiling statement: FAILED: SemanticException [Error 10001]: Line 4:5 Table not found 'dataset' (state=42S02,code=10001)

Closing: 0: jdbc:hive2://localhost:10000/

El código de *db/ej4_bb.hql* es el siguiente:

```HiveQL
-- Selecciona el libro con mejor valoración de Ana Maria Spagna

USE librosdb;

SELECT title
FROM(
    SELECT title, rating_avg
    FROM datasets LEFT SEMI JOIN (
        SELECT max(rating_avg) AS max_rating
        FROM authors, datasets
        WHERE authors.author_id = datasets.author_id AND authors.author_name = "Ana Maria Spagna"
    ) AS b
    ON rating_avg = b.max_rating
) AS a
LIMIT 1;
```

- *¿Cuáles son los cicno autores que han escrito más libros?*

In [11]:
! beeline -u "jdbc:hive2://localhost:10000/" -f db/ej4_c.hql

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/> -- Selecciona los 5 autores con más libros
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> USE librosdb;
INFO  : Compiling command(queryId=hive_20201123093333_a785605f-dabf-44ff-8d55-9cfe2bbb8086): USE librosdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20201123093333_a785605f-dabf-44ff-8d55-9cfe2bbb8086); Time taken: 0.072 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20201123093333_a785605f-dabf-44ff-8d55-9cfe2bbb8086): USE librosdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20201123093333_a785605f-dabf-44ff-8d55-9cfe2bbb8086); Time taken: 0.009 seconds
INFO  : OK
No rows affected (0.143 seconds)
0: jdbc:hive2://localhost:10000/>
0: jdbc:hive2://localhost:10000/> SELECT DISTINCT author_name
. . . . . . . . . . . . . . . . > FROM authors, dataset LEFT SEMI JOIN (
os. . . . . . . . . . . . . . . >     SELECT author_id, count(title) AS num_libr
. . . . . . . . . . . . . . . . >     FROM dataset
. . . . . . . . . . . . . . . . >     GROUP BY author_id
. . . . . . . . . . . . . . . . >     ORDER BY num_libros DESC
. . . . . . . . . . . . . . . . >     LIMIT 5
. . . . . . . . . . . . . . . . > ) AS a
. . . . . . . . . . . . . . . . > ON dataset.author_id = a.author_id
. . . . . . . . . . . . . . . . > WHERE authors.author_id = dataset.author_id;
Error: Error while compiling statement: FAILED: SemanticException [Error 10001]: Line 2:14 Table not found 'dataset' (state=42S02,code=10001)

Closing: 0: jdbc:hive2://localhost:10000/

El código de *db/ej4_c.hql* es el siguiente:
```HiveQL
-- Selecciona los 5 autores con más libros

USE librosdb;

SELECT DISTINCT author_name
FROM authors, datasets LEFT SEMI JOIN (
    SELECT author_id, count(title) AS num_libros
    FROM datasets
    GROUP BY author_id
    ORDER BY num_libros DESC
    LIMIT 5
) AS a
ON datasets.author_id = a.author_id
WHERE authors.author_id = datasets.author_id;
```

Ej. 5. *Desarrolla el código MapReduce en Python que implemente la oprimera consulta del apartado anterior.*

In [12]:
! chmod +x mapreduce/bestseller/mapper.py mapreduce/bestseller/reducer.py

In [13]:
! hadoop fs -put db/csv/authors.csv librosdb/authors # Al llegar a este paso los archivos desaparecen del HDFS por algun motivo

In [14]:
! hadoop fs -put db/csv/dataset.csv librosdb/dataset

put: `librosdb/dataset/dataset.csv': File exists

In [15]:
! hadoop jar /usr/lib/hadoop-mapreduce/hadoop-streaming.jar \\
-file mapreduce/bestseller/mapper.py \\
-mapper ./mapreduce/bestseller/mapper.py \\
-file mapreduce/bestseller/reducer.py \\
-reducer ./mapreduce/bestseller/reducer.py \\
-input /user/cloudera/librosdb/dataset/* \\
-output /user/cloudera/librosdb/ej5-mapreduce-output

20/11/23 09:33:12 WARN streaming.StreamJob: -file option is deprecated, please use generic option -files instead.
packageJobJar: [mapreduce/bestseller/mapper.py, mapreduce/bestseller/reducer.py] [/usr/lib/hadoop-mapreduce/hadoop-streaming-2.6.0-cdh5.12.0.jar] /tmp/streamjob5246481998334469757.jar tmpDir=null
20/11/23 09:33:14 INFO client.RMProxy: Connecting to ResourceManager at /0.0.0.0:8032
20/11/23 09:33:14 INFO client.RMProxy: Connecting to ResourceManager at /0.0.0.0:8032
20/11/23 09:33:14 INFO mapred.FileInputFormat: Total input paths to process : 1
20/11/23 09:33:14 INFO mapreduce.JobSubmitter: number of splits:2
20/11/23 09:33:14 INFO mapreduce.JobSubmitter: Submitting tokens for job: job_1604927967949_0001
20/11/23 09:33:15 INFO impl.YarnClientImpl: Submitted application application_1604927967949_0001
20/11/23 09:33:15 INFO mapreduce.Job: The url to track the job: http://quickstart.cloudera:8088/proxy/application_1604927967949_0001/
20/11/23 09:33:15 INFO mapreduce.Job: Running job: job_1604927967949_0001
20/11/23 09:33:22 INFO mapreduce.Job: Job job_1604927967949_0001 running in uber mode : false
20/11/23 09:33:22 INFO mapreduce.Job:  map 0% reduce 0%
20/11/23 09:33:29 INFO mapreduce.Job:  map 50% reduce 0%
20/11/23 09:33:29 INFO mapreduce.Job: Task Id : attempt_1604927967949_0001_m_000001_0, Status : FAILED
Error: java.lang.RuntimeException: PipeMapRed.waitOutputThreads(): subprocess failed with code 1
	at org.apache.hadoop.streaming.PipeMapRed.waitOutputThreads(PipeMapRed.java:325)
	at org.apache.hadoop.streaming.PipeMapRed.mapRedFinished(PipeMapRed.java:538)
	at org.apache.hadoop.streaming.PipeMapper.close(PipeMapper.java:130)
	at org.apache.hadoop.mapred.MapRunner.run(MapRunner.java:61)
	at org.apache.hadoop.streaming.PipeMapRunner.run(PipeMapRunner.java:34)
	at org.apache.hadoop.mapred.MapTask.runOldMapper(MapTask.java:459)
	at org.apache.hadoop.mapred.MapTask.run(MapTask.java:343)
	at org.apache.hadoop.mapred.YarnChild$2.run(YarnChild.java:164)
	at java.security.AccessController.doPrivileged(Native Method)
	at javax.security.auth.Subject.doAs(Subject.java:415)
	at org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1917)
	at org.apache.hadoop.mapred.YarnChild.main(YarnChild.java:158)

20/11/23 09:33:34 INFO mapreduce.Job: Task Id : attempt_1604927967949_0001_m_000001_1, Status : FAILED
Error: java.lang.RuntimeException: PipeMapRed.waitOutputThreads(): subprocess failed with code 1
	at org.apache.hadoop.streaming.PipeMapRed.waitOutputThreads(PipeMapRed.java:325)
	at org.apache.hadoop.streaming.PipeMapRed.mapRedFinished(PipeMapRed.java:538)
	at org.apache.hadoop.streaming.PipeMapper.close(PipeMapper.java:130)
	at org.apache.hadoop.mapred.MapRunner.run(MapRunner.java:61)
	at org.apache.hadoop.streaming.PipeMapRunner.run(PipeMapRunner.java:34)
	at org.apache.hadoop.mapred.MapTask.runOldMapper(MapTask.java:459)
	at org.apache.hadoop.mapred.MapTask.run(MapTask.java:343)
	at org.apache.hadoop.mapred.YarnChild$2.run(YarnChild.java:164)
	at java.security.AccessController.doPrivileged(Native Method)
	at javax.security.auth.Subject.doAs(Subject.java:415)
	at org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1917)
	at org.apache.hadoop.mapred.YarnChild.main(YarnChild.java:158)

20/11/23 09:33:38 INFO mapreduce.Job: Task Id : attempt_1604927967949_0001_m_000001_2, Status : FAILED
Error: java.lang.RuntimeException: PipeMapRed.waitOutputThreads(): subprocess failed with code 1
	at org.apache.hadoop.streaming.PipeMapRed.waitOutputThreads(PipeMapRed.java:325)
	at org.apache.hadoop.streaming.PipeMapRed.mapRedFinished(PipeMapRed.java:538)
	at org.apache.hadoop.streaming.PipeMapper.close(PipeMapper.java:130)
	at org.apache.hadoop.mapred.MapRunner.run(MapRunner.java:61)
	at org.apache.hadoop.streaming.PipeMapRunner.run(PipeMapRunner.java:34)
	at org.apache.hadoop.mapred.MapTask.runOldMapper(MapTask.java:459)
	at org.apache.hadoop.mapred.MapTask.run(MapTask.java:343)
	at org.apache.hadoop.mapred.YarnChild$2.run(YarnChild.java:164)
	at java.security.AccessController.doPrivileged(Native Method)
	at javax.security.auth.Subject.doAs(Subject.java:415)
	at org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1917)
	at org.apache.hadoop.mapred.YarnChild.main(YarnChild.java:158)

20/11/23 09:33:44 INFO mapreduce.Job:  map 100% reduce 100%
20/11/23 09:33:44 INFO mapreduce.Job: Job job_1604927967949_0001 failed with state FAILED due to: Task failed task_1604927967949_0001_m_000001
Job failed as tasks failed. failedMaps:1 failedReduces:0

20/11/23 09:33:45 INFO mapreduce.Job: Counters: 39
	File System Counters
		FILE: Number of bytes read=0
		FILE: Number of bytes written=128668
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
		HDFS: Number of bytes read=1699749
		HDFS: Number of bytes written=0
		HDFS: Number of read operations=3
		HDFS: Number of large read operations=0
		HDFS: Number of write operations=0
	Job Counters
		Failed map tasks=4
		Killed reduce tasks=1
		Launched map tasks=5
		Launched reduce tasks=1
		Other local map tasks=3
		Data-local map tasks=2
		Total time spent by all maps in occupied slots (ms)=14945
		Total time spent by all reduces in occupied slots (ms)=11468
		Total time spent by all map tasks (ms)=14945
		Total time spent by all reduce tasks (ms)=11468
		Total vcore-milliseconds taken by all map tasks=14945
		Total vcore-milliseconds taken by all reduce tasks=11468
		Total megabyte-milliseconds taken by all map tasks=15303680
		Total megabyte-milliseconds taken by all reduce tasks=11743232
	Map-Reduce Framework
		Map input records=18922
		Map output records=1
		Map output bytes=49
		Map output materialized bytes=57
		Input split bytes=126
		Combine input records=0
		Spilled Records=1
		Failed Shuffles=0
		Merged Map outputs=0
		GC time elapsed (ms)=27
		CPU time spent (ms)=830
		Physical memory (bytes) snapshot=298876928
		Virtual memory (bytes) snapshot=1569234944
		Total committed heap usage (bytes)=326631424
	File Input Format Counters
		Bytes Read=1699623
20/11/23 09:33:45 ERROR streaming.StreamJob: Job not successful!
Streaming Command Failed!

In [16]:
cat db/csv/dataset.csv | mapreduce/bestseller/mapper.py | sort | mapreduce/bestseller/reducer.py

Atlas Obscura, 2nd Edition : An Explorer's Guide to the World's Hidden Wonders